.bg-header {
	background-image: url(https://livedemo00.template-help.com/wt_prod-17821/images/hero-header-bg.jpg);
	background-size: cover;
    background-position: center center;
	padding: 220px 0 220px;
}

/*Menu*/
.bg-navar-dark {
	background: #151515;
}

.navbar .active {
	color: #c49a6a !important;
}

.nav-link:hover,
.nav-link:focus {
  color: #6b4d2a !important;
}

.texto-gold {
	color:  #cca876 !important;
}

.hr-title {
  width: 60px;
  height: 2px !important;
  background: #cca876;
  fill: #cca876;
  opacity: 1;
}

.btn-outline-gold {
    color: #c49a6a;
    border-color: #c49a6a;
}

.btn-gold {
    color: #fff;
    background-color: #c49a6a;
    border-color: #b97f3d;
}

.bg-gray{
	background-color: #f3f3f3;
}

.bg-gray .card {
    border: none;
    border-radius: .50rem;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon-circle {
    background-color: transparent;
    color: #c49a6a;
    flex-shrink: 0;
    box-shadow: 0 0 0 3px #c49a6a;
    width: 70px;
    height: 70px;
}