.bg-header {
	background-image: url(https://livedemo00.template-help.com/wt_prod-17821/images/hero-header-bg.jpg);
	background-size: cover;
    background-position: center center;
	padding: 220px 0 220px;
}

/*Menu*/
.bg-navar-dark {
	background: #151515;
}

.navbar .active {
	color: #c49a6a !important;
}

.nav-link:hover,
.nav-link:focus {
  color: #6b4d2a !important;
}

.texto-gold {
	color:  #cca876 !important;
}

.hr-title {
  width: 60px;
  height: 2px !important;
  background: #cca876;
  fill: #cca876;
  opacity: 1;
}

.btn-outline-gold {
    color: #c49a6a;
    border-color: #c49a6a;
}

.btn-gold {
    color: #fff;
    background-color: #c49a6a;
    border-color: #b97f3d;
}

.bg-gray{
	background-color: #f3f3f3;
}

.bg-gray .card {
    border: none;
    border-radius: .50rem;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon-circle {
    background-color: transparent;
    color: #c49a6a;
    flex-shrink: 0;
    box-shadow: 0 0 0 3px #c49a6a;
    width: 70px;
    height: 70px;
}

.accordion-button:not(.collapsed) {
    color: #c49a6a;
    background-color: unset;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(204 168 118 / 0%);
}


/*Footer*/
.card-footer {
    padding: 4% 7%;
    color: #fff9f1;
    background-color: #151515
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #c49a6a;
    cursor: pointer
}
.ul-footer {
	color: #ffffff;
    text-decoration: none;
}

.ul-footer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.ul-footer>ul>li {
    padding: 4px
}

.ul-footer>ul>li:hover {
    color: #c49a6a;
    cursor: pointer
}

.divider {
    border-top: 2px solid rgb(196 154 106);
}